<%if @events.first.blank?%>
  <br/>
  <p class="lead text-center">Al momomento non ci sono eventi inseriti</p>
  <%= link_to fa_icon("plus") + " New Event", new_admin_event_path(@event), remote: true, class: "btn btn-success" %>
  <%= link_to "Back", admin_posts_path(), class: "btn btn-primary"%>
<%else%>
<div class="page-header">
  <h1>Eventi</h1>
  <ul class="actions">
    <li><%= link_to fa_icon("plus") + " New Event", new_admin_event_path(@event), remote: true, class: "btn btn-success" %></li>
  </ul>
</div>
<div class="table-responsive">
<table class="table table-striped">
 <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, admin_event_path(event) %></td>
          <td><%= truncate(event.body)%></td>
          <td class="col-md-1"><%= link_to fa_icon("pencil") +" Edit", edit_admin_event_path(event), remote: true, class:"btn btn-primary" %> </td>
          <td class="col-md-1"><%= link_to fa_icon("trash") + " Delete", [:admin, event], method: :delete, data: {confirm: 'You Sure'}, class: "btn btn-danger"%>
      <% end %>
    </tbody>
  </table>
</div>
<%end%>
