<section class="bg-page-header">
  <div class="page-header-overlay">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <div class="page-title">
            <h2>Modifca i tuoi dati di accesso</h2>
          </div><!-- .page-title -->
          <div class="page-header-content">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Modifica profilo</li>
            </ol>
          </div><!-- .page-header-content -->
        </div><!-- .page-header -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .page-header-overlay -->
</section>



<section class="bg-donate-section">
  <div class="container">
    <div class="row">
      <div class="donate-form">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "contact-form" }) do |f| %>
  <%= devise_error_messages! %>
  <div class="information-form">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
    <div class="row">

      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>
      

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password %> <i>(lasciare vuoto questo campo se non si desidera cambiare la password)</i><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password_confirmation, "Conferma Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
    <%= f.label :current_password, "Password corrente" %> <i>(abbiamo bisogno della tua password corrente per confermare le modifiche)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
    </div>
  
  
        <div class="col-md-12">
          <div class="form-group">
            <%= button_tag "Aggiorna", class: "btn btn-default"%>
          </div>
        </div>
        <% end %>
  
          </div><!-- .row -->
        </div><!-- .information-form -->
      </div> <!-- .donate-form -->
    
      <hr>
    <div class="donate-form">
      <div class="information-form">
        <h3>Elimina account <%= resource.email%> dal portale Smart Gioiosa</h3>
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    
                   <%= button_to "Elimina account", registration_path(resource_name), data: { confirm: "Sei sicuro? Ti ricordiamo che l'eliminazione del profilo causerà la cancellazione di tutti i dati ad esso associato: Foto, articoli, votazioni, ecc..." }, method: :delete %>
                </div>
              </div>

            </div><!-- .row -->
          </div><!-- .information-form -->
        </div> <!-- .donate-form -->


            
    
  
<%= link_to "Back", :back, class: "btn btn-default" %>

    </div><!-- .row -->  
  </div><!-- .container -->
</section>

