<%= content_for :title, "Photo Smart Contest | Smart Gioiosa"%>
<%= content_for :description, @photo.title%>
<%= content_for :image, @photo.image.url%>


	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h2></h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
                <li><a href="/contest-fotografico">Contest</a></li>
								<li><%=@photo.title%> - <%=@photo.name%> <%=@photo.surname%> </li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>


	<!-- End Page Header Section -->


	<!-- Start Recent Project Section -->


	<section class="bg-single-project">
		<div class="container">
			<div class="row">
				<div class="single-project">

					<div class="row">
						<div class="col-md-12">
              <%if @photo.image.present?%>
              <%=image_tag @photo.image.url, class:"img-responsive", alt:@photo.title%>
              <%end%>
							<div class="single-pro-main-content">
								<div class="row">
								<div class="col-md-9">
									<ul class="single-left-content">
										<li>
											<h4>Titolo Foto</h4>
											<p><%=@photo.title%></p>
										</li>
										<li>
											<h4>Nome</h4>
											<p><%=@photo.name%></p>
										</li>
										<li>
											<h4>Cognome</h4>
											<p><%=@photo.surname%></p>
										</li>
										<li>
											<h4>Categoria</h4>
											<p><%=@photo.category%></p>
										</li>
                    <li>
                      <h4>Luogo dello scatto</h4>
                      <p><%=@photo.place%></p>
                    </li>
                     <li>
                      <h4>Anno dello scatto</h4>
                      <p><%=@photo.year.strftime("%Y")%></p>
                    </li>

									</ul>
								</div><!-- .col-md-9 -->
								<div class="col-md-3">
									<div class="single-project-content">
										<h3>Condividi:</h3>
										<ul class="social-icon-rounded">
											<li><div id="shareBtn"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></div></i></a></li>
										</ul>
									</div><!-- .single-left-content -->
								</div><!-- .col-md-3 -->
							</div>

						</div><!-- .single-proj-main-content -->
					</div><!-- .col-md-12 -->

					</div><!-- .row -->
				</div><!-- .single-project -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>


	<!-- End Recent Project Section -->
<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: '<%= request.url%>',
    }, function(response){});
}
</script>
