<div id="footer">
      <div id="subscribe">
        <div class="container">

          <div class="form-inline">
            <div class="form-group">
              <p>Iscriviti alla newsletter per rimanere aggiornato su progetti ed eventi</p>
            </div>

                <%= form_for(@newsletter) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <div class="form-group">
                    <div class="input-group">
                  <%= f.text_field :email, class:"form-control",placeholder:"Inserisci la tua email" %>
                    <span class="input-group-btn">
                    <%= f.submit "Iscriviti", class: "btn btn-ada-dark" %>
                    </span>
                  </div>
                </div>
                 <%end%>

          </div>

        </div>
      </div>
      <div id="links">
        <div class="container">

          <div class="col-sm-2">
            <p class="brand"><span>Smart Gioiosa</span></p>
          </div>

          <div class="col-sm-8">
            <ul class="list-inline">
              <li><%= link_to "Home", root_path%> </li>
              <li><%= link_to "Chi siamo", chi_siamo_path%></li>
              <li><%= link_to "Team",team_path %></li>
              <li><%= link_to "Blog", posts_path%></li>
              <li><%= link_to "Progetti", projects_path%></li>
              <li><%= link_to "Contatti", contatti_path%></li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/SmartGioiosa"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/SmartGioiosa"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/smartgioiosa/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://plus.google.com/u/0/b/116848179994267593028/116848179994267593028/about"><i class="fa fa-google-plus-official"></i></a></li>
              <li><a href="https://github.com/Smart-Gioiosa"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
