<header class="header-style-2">
		<div class="bg-header-top">
			<div class="container">
				<div class="row">
					<div class="header-top">
						<ul class="h-contact">
							<li><i class="flaticon-pin"></i> Indirizzo: Zona Industriale - 98060 Piraino (ME)</li>
							<li><i class="flaticon-phone-call"></i>Telefono: +39 0941562712</li>
							<li><i class="flaticon-mail"></i>Email: info@smartgioiosa.it</li>
						</ul>

					</div><!-- .header-top -->
				</div><!-- .header-top -->
			</div><!-- .container -->
		</div><!-- .bg-header-top -->

		<!-- Start Menu -->
		<div class="bg-main-menu menu-scroll">
			<div class="container">
				<div class="row">
					<div class="main-menu">
						<a class="show-res-logo" href="/"><img src="/assets/logo_web/logo_web_12.png" alt="logo" class="img-responsive" /></a>
						<nav class="navbar">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <a class="navbar-brand" href="/"><img src="/assets/logo_web/logo_web_12.png" alt="logo" class="img-responsive" /></a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="<%= "active" if current_page?("/")%>">
										<%= link_to "Home", root_path%>
									</li>
									<li class="<%= "active" if current_page?("/chi-siamo")%>">
										<%= link_to "Chi Siamo", chi_siamo_path %>
									</li>
									<!--
									<li class="<#%= "active" if current_page?("/posts")%>">
										<%#= link_to "Blog", posts_path%>
									</li>

									<li class="<#%= "active" if controller.controller_name == "events"%>">
										<#%= link_to "Eventi", events_path%>
									</li>-->

									<li class="<%= "active" if controller.controller_name == 'contest'%>">
										<%= link_to "PhotoContest", '/contest-fotografico'%>
									</li>

									<!--
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CFP <span class="caret"></span></a>
										<ul class="dropdown-menu sub-menu">
											<li><#%= link_to vincitori_path do %> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Vincitori Prima Call For Proposals<#%end%></li>
											<li><#%= link_to idee_path do %><i class="fa fa-angle-double-right" aria-hidden="true"></i> Classifica Prima Call For Proposals <#%end%></li>
											<li><#%= link_to giuria_path do %><i class="fa fa-angle-double-right" aria-hidden="true"></i> Giuria <#%end%></li>
										</ul>
									</li>-->


									<li class="<%= "active" if controller.controller_name == "contacts"%>">
										<%= link_to "Contatti", contatti_path%>
									</li>
									<% if user_signed_in? %>
									<li>
										<%= link_to('Area Privata', area_privata_user_path(current_user)) %>
									</li>
									<li>
										<%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
									</li>
									<% else %>
									<li>
										<%= link_to('LOGIN', new_user_session_path)  %>
									</li>
									<% end %>
								</ul>

							</div><!-- .navbar-collapse -->
						</nav>
					</div><!-- .main-menu -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .bg-main-menu -->
	</header>
