<header class="header-style-2">
		<div class="bg-header-top">
			<div class="container">
				<div class="row">
					<div class="header-top">
						<ul class="h-contact">
							<li><i class="flaticon-pin"></i><a href="https://www.google.it/maps/place/ASC+Web+Apps/@38.1642468,14.8490537,18z/data=!4m8!1m2!2m1!1sZona+Industriale+-+98060+Piraino+(ME)!3m4!1s0x13169b0805abe319:0x83a14ae88e6c5675!8m2!3d38.165125!4d14.850598"> Indirizzo: Zona Industriale - 98060 Piraino (ME)</a></li>
							<li><i class="flaticon-phone-call"></i><a href="tel: +39 0941562712">Telefono +390941562712</a></li>
							<li><i class="flaticon-mail"></i><a href="mailto:info@smartgioiosa.it">Email: info@smartgioiosa.it</a></li>
						</ul>

					</div><!-- .header-top -->
				</div><!-- .header-top -->
			</div><!-- .container -->
		</div><!-- .bg-header-top -->

		<!-- Start Menu -->
		<div class="bg-main-menu menu-scroll">
			<div class="container">
				<div class="row">
					<div class="main-menu">
						<a class="show-res-logo" href="/"><img src="/assets/logo_web/logo_web_12.png" alt="logo" class="img-responsive" /></a>
						<nav class="navbar">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
							  <a class="navbar-brand" href="/"><img src="/assets/logo_web/logo_web_12.png" alt="logo" class="img-responsive" /></a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="<%= "active" if current_page?("/")%>">
										<%= link_to "Home", root_path%>
									</li>
									<li class="<%= "active" if current_page?("/chi-siamo")%>">
										<%= link_to "Chi Siamo", chi_siamo_path %>
									</li>
									

                  <li class="<%= "active" if controller.controller_name == "posts"%>">
										<%= link_to "Smart Blog", posts_path%>
									</li>
                  <!--
									<li class="<#%= "active" if controller.controller_name == "events"%>">
										<#%= link_to "Eventi", events_path%>
									</li>-->

									<li class="<%= "active" if controller.controller_name == 'smartphotos'%>">
										<%= link_to "PhotoContest", smartphotos_path%>
									</li>

									<!--
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CFP <span class="caret"></span></a>
										<ul class="dropdown-menu sub-menu">
											<li><#%= link_to vincitori_path do %> <i class="fa fa-angle-double-right" aria-hidden="true"></i> Vincitori Prima Call For Proposals<#%end%></li>
											<li><#%= link_to idee_path do %><i class="fa fa-angle-double-right" aria-hidden="true"></i> Classifica Prima Call For Proposals <#%end%></li>
											<li><#%= link_to giuria_path do %><i class="fa fa-angle-double-right" aria-hidden="true"></i> Giuria <#%end%></li>
										</ul>
									</li>-->


									<li class="<%= "active" if controller.controller_name == "contacts"%>">
										<%= link_to "Contatti", contatti_path%>
									</li>
									<% if user_signed_in? %>
                        
									  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Smart Area<span class="caret"></span></a>
                      <ul class="dropdown-menu sub-menu">
                        <li>
										      <%= link_to('Smart Contest', area_privata_user_path(current_user)) %>
                        </li>
                        
                        <li>
                          <%= link_to('Modifca | Elimina profilo', edit_user_registration_path)%>
                        </li>
                      
									      <li>
										      <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>
									      </li>
                      </ul>  
                    </li><!-- .dropdown -->

									<% else %>
									<li>
										<%= link_to('LOGIN', new_user_session_path)  %>
									</li>
									<% end %>
								</ul>

							</div><!-- .navbar-collapse -->
						</nav>
					</div><!-- .main-menu -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .bg-main-menu -->
	</header>
