
        <div id="sidebar" class="col-md-4">
          <div class="row">
            <section class="col-md-12 wow fadeIn">
              <div class="about">

                <h3>CALL FOR PROPOSALS <br>"Smart Gioiosa" </h3>
                <a href="http://cfp.smartgioiosa.it"><img src="/assets/cfp_smartgioiosa.jpg" class="avatar-full-width img-responsive" /></a>


                <p><%= link_to 'Call For Proposals', "http://cfp.smartgioiosa.it", class:"btn btn-ada-dark"%></p>

              </div>
            </section>
            <section class="col-md-12 wow fadeIn">
              <div class="about">

                <h3>Smart Gioiosa</h3>
                <img src="/assets/avatar_tatta.png" class="avatar-full-width img-responsive" />


                <p><%= link_to 'Chi Siamo', chi_siamo_path, class:"btn btn-ada-dark"%></p>

              </div>
            </section>
            <%if controller.controller_name=="posts"%>
              <%if @tags.exists?%>
              <section class="col-md-12 wow fadeIn">
                <div class="tags">

                  <h3>Tags</h3>
                  <% @tags.each do |tag| %>
                  <%= link_to '#'+tag.name, tag_path(tag), class:"btn btn-ada-dark btn-tag" %>
                  <%end%>
                </div>
              </section>
              <%end%>
            <%end%>
            <%if controller.controller_name=="home"%>
              <section class="col-md-12 wow fadeIn">
                <div class="popular-posts">

                  <h3>Ultmi Progetti</h3>


                    <%unless @sidebar_project.image_preview.blank?%>
                      <%= link_to image_tag(@sidebar_project.image_preview.url(:thumb2), class:"img-responsive" ), project_path(@sidebar_project)%>
                    <%end%>
                    <h4> <%= link_to @sidebar_project.title,project_path(@sidebar_project) %></h4>



                </div>
              </section>
            <%end%>

          </div>
        </div>
