<%= provide(:title,"Gioiosa Marea, smart city, nebrodi")%>
<%= provide(:description, "nato a Gioiosa Marea per dare una svolta intelligente al territorio dei nebrodi e non solo, attraverso un ambiente virtuale di condivisione di idee")%>


    <br>
    <div class="alert alert-danger" role="alert"> <h3><p class="text-center">Call for Proposals "Smart Gioiosa" - VALUTATION IN PROGRESS - <%= link_to "DETTAGLI", "http://cfp.smartgioiosa.it/alerts"%></p></h3> </div>
<!-- New Template-->
 <section class="call_to_action">
          <div class="container">
               <h3>Associazione Smart Gioiosa</h3>
               <h4>il futuro inizia da qui</h4>
               <a class="btn btn-primary btn-lg" href="http://cfp.smartgioiosa.it/">CFP SMART GIOIOSA</a>
          </div>
     </section>

     <section class="features_teasers_wrapper">
          <div class="container">
               <h2 class="section_header fancy centered"> Una Smart City (città intelligente) si basa su sei assi fondamentali.</h2>
               <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/People.png">
                         <h3>People | Living</h3>
                         <p><strong>Vivibilità e benessere</strong>. Attenzione alle persone e al nuovo welfare.<strong> Valorizzazione e mantenimento del patrimonio culturale</strong>.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/Ambiente.png">
                         <h3>Environment | Energy</h3>
                         <p><strong>Sostenibilità Ambientale.</strong> Utilizzo efficiente delle fonti energetiche disponibili. <strong>Energie rinnovabili e risparmio energetico</strong>.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/Urbanistica.png">
                         <h3> Planning | Mobility </h3>
                         <p><strong>Pianificazione Urbanistica e Progettazione Architettonica.</strong> Recupero urbano-architettonico-sociale.<strong> Mobilità intelligente</strong>.</p>
                    </div>
               </div>
                <br>
               <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/IoT.png">
                         <h3>IoT | Mobile e Web Apps</h3>
                         <p><strong>Sviluppo Internet of Things: domotica, robotica,... </strong> Applicazioni per smartphone, table e pc.  </p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/Government.png">
                         <h3>Government | Economy</h3>
                         <p><strong>Rilancio dell'economia territoriale. </strong> Organizzazione della governance urbana. <strong></strong><strong>Innovazione dei processi gestionali</strong>.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="/assets/icone/School.png">
                         <h3>Smart Education</h3>
                         <p><strong>Idee giovani e innovative</strong>. Non esiste una smart city senza smart people. <strong>Il futuro è dei giovani!!!</strong></p>
                    </div>
               </div>
          </div>
     </section>

     <section class="portfolio_teasers_wrapper">
          <div class="container">
               <h2 class="section_header fancy centered">I nostri progetti recenti<small>work in progress</small></h2>
               <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="http://www.smartgioiosa.it/projects/corso-base-di-programmazione-web" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(/assets/web-programming.jpg)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>

                                    <p>Con il progetto di programmazione web di base, verrà spiegato come si crea un'applicazione web, con lo sviluppo di un piccolo SOCIAL NETWORK, che sarà un clone di twitter. Questo progetto smart city viene realizzato grazie al supporto di due comunità: Sicily On Rails e Ruby on Rails Course.</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="http://www.smartgioiosa.it/projects/corso-base-di-programmazione-web">Corso di Programmazione Web</a></h3>
                                   <p>Web Programming</p>
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="http://cfp.smartgioiosa.it/" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(/assets/slider/idea.jpg)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p>Vuoi essere #PROTAGONISTA del cambiamento valorizzando il tuo #TALENTO e le tue #COMPETENZE? Hai un'idea #INNOVATIVA ma non sai a chi proporla? Cosa aspetti, partecipa anche tu a Smart Gioiosa: concorso di idee per la realizzazione di smart cities nel territorio dei Nebrodi. </p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="http://cfp.smartgioiosa.it">Call For Proposals - Smart Gioiosa</a></h3>
                                   <p>Smart City</p>
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="http://www.smartgioiosa.it/projects/ttatta" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(/assets/ttatta.png)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p>TTatta è progetto che ha come obbiettivo la realizzazione di un nuovo modo di ricercare e fare le cose - un modo veloce e innovativo: SMART!!! ...</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="portfolio_item.html">TTatta</a></h3>
                                   <p>Web programming - Smart City</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <section class="clients_section wow animated fadeInUp">
          <div class="container">



               <h2 class="section_header elegant centered">Iscriviti<small>alla newsletter per rimanere aggiornato su progetti e eventi</small></h2>
                <%= form_for(@newsletter) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <div class="form-group">
                    <div class="input-group">
                  <%= f.text_field :email, class:"form-control",placeholder:"Inserisci la tua email" %>
                    <span class="input-group-btn">
                    <%= f.submit "Iscriviti", class: "btn btn-ada-dark" %>
                    </span>
                  </div>
                </div>
                 <%end%>

             <!--<div class="clients_list"> <a href="#"><img src="images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/jquery.jpg" alt="client"></a> <a href="#"><img src="images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/wpml.jpg" alt="client"></a> </div>
          </div> -->
     </section>

<!-- /New Template-->


<!--


<div id="posts" class="container">
  <div class="row">
    <div class="col-md-8">
      <#%@posts.each_with_index do |post, index|%>
      <#%if index.even?%>
        <section class="col-md-12 wow fadeIn">
          <div class="post">
            <div class="row">
              <div class="col-md-6 media">
                <#%unless post.image_preview.blank?%>
                  <#%= image_tag post.image_preview.url(:thumb), class:"img-responsive"  %>
                <#%end%>
              </div>
              <div class="col-md-6 caption">
                <span class="post-tag">
                  <#%post.tags.each do |tag|%>
                    <#%= link_to fa_icon("tag") + " " + tag.name, tag_path(tag) %>
                  <#%end%>
                </span>
                <#%=link_to post.title, post_path(post), class: "post-title"%>
                <span class="post-date"><#%=post.created_at.strftime("%d %b %Y") %></span>
                <p class="post-description"><#%= (raw post.body.truncate(250, separator: ' '))%> <#%= link_to "Continua", post_path(post)%></p>
                </div>
              </div>
            </div>
          </section>
          <#%else%>
          <section class="col-md-12 wow fadeIn">
          <div class="post">
            <div class="row">
              <div class="col-md-6 caption">
                <span class="post-tag">
                  <#%post.tags.each do |tag| %> <#%= link_to fa_icon("tag") + " " + tag.name, tag_path(tag) %><#%end%>
                </span>
                <#%=link_to post.title, post_path(post), class: "post-title"%>
                <span class="post-date"><#%=post.created_at.strftime("%d %b %Y") %></span>
                <p class="post-description"><#%= (raw post.body.truncate(250, separator: ' '))%> <#%= link_to "Continua", post_path(post)%></p>
                 </div>
                 <div class="col-md-6 media">
                  <#%unless post.image_preview.blank?%>
                    <#%= image_tag post.image_preview.url(:thumb), class:"img-responsive"  %>
                  <#%end%>
                  </div>
                </div>
              </div>
          </section>
          <#%end%>
      <#%end%>
      </div>
       <#%= render "sidebar"%>
      </div>
    </div>
-->
