<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1><%= project.new_record? ? 'New  Project' : "Editing Project"  %> </h1>
          <%= form_for([:admin, @project], remote: true) do |f| %>
            <div class="modal-body">
              <%= render 'shared/error_messages', object: f.object %>


              <%= f.label :title %><br>
              <%= f.text_field :title, class: 'form-control', placeholder:"Title Project" %>

              <%= f.label :description %><br>
              <%= f.text_area :description, class: 'form-control', placeholder:"Description Project" %>


              <% if @project.image_preview.present? %>
               <%= image_tag(@project.image_preview.url(:thumb))%>
               <label>
                 <%= f.check_box :remove_image_preview %>
                 Remove ImagePreview
               </label>
             </p>
             <%end%>
             <br>
             <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="form-group">
                   <%= f.label :image_preview, "Immagine Anteprima" %>
                   <%= f.file_field :image_preview %>
                 </div>
               </div>
             </div>

               </div>
              <div class="modal-footer">
                <%= f.submit "Submit", class: "btn btn-primary"%>
              </div>

       <% end %>
    </div>
  </div>
</div>
