<%=provide(:title, " Contatti, <i>smart</i> city, portale di idee") %>
<%=provide(:description, "nasce con l’obiettivo di creare un ambiente virtuale di condivisione di idee da parte di tutti i cittadini che vogliono mettersi in gioco per dare una svolta INTELLIGENTE al nostro territorio.")%>

<section class="bg-page-header">
	<div class="page-header-overlay">
		<div class="container">
			<div class="row">
				<div class="page-header">
					<div class="page-title">
						<h2>CONTATTI</h2>
					</div><!-- .page-title -->
					<div class="page-header-content">
						<ol class="breadcrumb">
							<li><a href="/">Home</a></li>
							<li>CONTATTI</li>
						</ol>
					</div><!-- .page-header-content -->
				</div><!-- .page-header -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .page-header-overlay -->
</section>


<!-- Start Contact us Section -->
	<section class="bg-contact-us">
		<div class="container">
			<div class="row">
				<div class="contact-us">
					<div class="row">
						<div class="col-md-8">
							<h3 class="contact-title">Mettiti in contatto con Smart Gioiosa</h3>

              <%= form_for @contact, :html => {class: "contact-form" } do |f| %>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
                      <%= f.text_field :name, class:"form-control", placeholder:"Nome" %>
										</div><!-- .form-group -->
									</div><!-- .col-md-6 -->
									<div class="col-md-6">
										<div class="form-group">
                      <%= f.text_field :surname, class:"form-control", placeholder:"Cognome" %>
										</div><!-- .form-group -->
									</div><!-- .col-md-6 -->
								</div><!-- .row -->

                <div class="form-group">
                  <%= f.text_field :email, class:"form-control", placeholder:"Indirizzo Email" %>
								</div>

								<div class="form-group">
                   <%= f.text_field :subject, class:"form-control", placeholder:"Oggetto"%>
								</div>

                 <%= f.text_area :message, class:"form-control text-area", placeholder:"Messaggio", rows: 3 %>

                <%= button_tag "Invia Email", class:"btn btn-default"%>

              <%end%>

						</div><!-- .col-md-8 -->
						<div class="col-md-4">
							<h3 class="contact-title">Info</h3>
							<ul class="contact-address">
                 <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Zona Industriale - 98060 Piraino (ME)</span>
                  </li>
                   <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                      <span>+39 0941562712</span>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <span>info@smartgioiosa.it</span>

                    </li>

								</ul><!-- .contact-address -->
							<ul class="social-icon-rounded contact-social-icon">
								<li><a href="https://www.facebook.com/SmartGioiosa/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://it.linkedin.com/company/smart-gioiosa"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/smartgioiosa/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/116848179994267593028"><i class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div><!-- .col-md-4 -->
					</div><!-- .row -->
				</div><!-- .contact-us -->
			</div><!-- .row -->
		</div><!-- .container -->
	</section>



	<!-- End Contact us Section -->


	<!-- STart Maps Section -->

	<div id="map"></div>
