<section class="hgroup">
<div class="container">
  <h1><%=@project.title%></h1>
    <h2></h2>
    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li><a href="/projects">Progetti</a> </li>
    </ul>
  </div>
</section>
<section>
   <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-12" role="main">
      <%unless @project.image_preview.blank?%>
          <%= image_tag @project.image_preview, class: "img-responsive"  %>
      <%end%>
      
      <h1><%=@project.title%></h1>
        

     <%=raw @project.description%>
     
  
    <div class="comments">

      <!-- START DISQUS -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">

          var disqus_config = function () {
          this.page.shortname = 'blogsmartgioiosa'
          this.page.identifier = '<%= request.fullpath%>';
          this.page.title = '<%= @project.title%>';
          this.page.url = '<%= request.url%>'
         };


          (function() {
          var d = document, s = d.createElement('script'); s.src = '//blogsmartgioiosa.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <!-- END DISQUS -->
    </div>


  </div>
</div>
</section>


