<div id="single">

  <div class="container">

    <div class="project">
        <%unless @project.image_preview.blank?%>
          <%= image_tag @project.image_preview, class:"img-responsive"  %>
      <%end%>
      <div class="caption">
        <div class="header">
          <h1><%=@project.title%></h1>
        </div>

        <%=raw @project.description%>
      </div>
    </div>


    <div class="comments">

      <!-- START DISQUS -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_config = function () {
          // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '<%= @project.slug%>'
          // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          this.page.title = '<%= @project.title%>'
          this.page.url = '<%= url_for only_path: false%>'
          /*this.page.url = '<%=request.url%>'*/
         };

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script'); s.src = '//smartgioiosa.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <!-- END DISQUS -->

    </div>


  </div>

</div>
