<div class="row">
  <h1><%=@post.title%></h1>
  <p><%= @post.body%></p>
  <div class="col-sx-12 col-sm-4 col-md-4 col-lg-4 thumb">
    <%= link_to image_tag(@post.image_preview.url(:thumb), class: "img-responsive"), @post.image_preview.url, class: "thumbnail" %>
  </div>
</div>
<div class="row">
  <b>Tags:</b>
<ul>
<% @post.tags.each do |tag| %>
<li><%= tag.name %></li>
<% end %>
</ul>
</div>

<div class ="row">
  <div class="page-header">
    <ul class="actions">
    <li><%= link_to fa_icon("pencil") + " Edit Post", edit_admin_post_path(@post),remote: true, class: "btn btn-primary" %></li>
    </ul>
  </div>
</div>

<%= link_to 'Back', admin_posts_path, class: "btn btn-primary" %>
