<section class="bg-page-header">
  <div class="page-header-overlay">
    <div class="container">
      <div class="row">
        <div class="page-header">
          <div class="page-title">
            <h2>Accedi alla tua area privata</h2>
          </div><!-- .page-title -->
          <div class="page-header-content">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Login</li>
            </ol>
          </div><!-- .page-header-content -->
        </div><!-- .page-header -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .page-header-overlay -->
</section>

<section class="bg-donate-section">
  <div class="container">
    <div class="row">
      
      <div class="donate-form">
        <p class="text-center">
        <%= link_to "Accedi tramite Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-default"%>
        </p>
      </div>         
      <br> 
      <hr>
      
      <div class="donate-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "contact-form"}) do |f| %>
           <%= render 'shared/error_messages', object: f.object %>


          <div class="information-form">
            <h3>Login</h3>
            <div class="row"> 
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :email, "Email*"%>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div><!-- .form-group -->
            </div><!-- .col-md-12 -->
            
            <div class="col-md-12">
              <div class="form-group">
              <%= f.label :password, "Password*"  %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div><!-- .form-group -->
            </div><!-- .col-md-12 -->
        

            <% if devise_mapping.rememberable? -%>
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :remember_me, "Ricordami  " %>
                  <%= f.check_box :remember_me %>
                </div>
              </div>
            <% end -%>

            <div class="col-md-12">
              <div class="form-group">
                <%= button_tag "Log in", class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
        
          </div><!-- .row -->
        </div><!-- .information-form -->
        </div> <!-- .donate-form -->

        <hr> 
       
        <%= render "devise/shared/links" %>        
 
               
    </div><!-- .row -->  
  </div><!-- .container -->
</section>

