<div class="sidebar">
								<div class="widget">
									<h4 class="sidebar-widget-title">Categorie</h4>
									<div class="widget-content">
										<ul class="catagories">
											<%@categories.each do |category|%>
												<li>
                          <%= link_to category_path(category) do %>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <%= category.name%> <span><%= category.posts.count%></span>
                          <%end%>
                        </li>
											<%end%>
										</ul>
									</div><!-- .widget-content -->
								</div><!-- .widget -->
								<div class="widget">
									<h4 class="sidebar-widget-title">Articoli Recenti</h4>
									<div class="widget-content">
										<ul class="popular-news-option">
                      <%@recent_posts.each do |post|%>
  											<li>
  												<div class="popular-news-img">
                            <%if post.image_preview.present?%>
                              <%= link_to (image_tag post.image_preview.url(:recent_posts), alt:post.title), post_path(post)%>
                            <%else%>
                            <a href="<%=post_path(post)%>"><img src="/assets/event/popular-news-img-1.jpg" alt="popular-news-img-1" /></a>
                            <%end%>
  												</div><!-- .popular-news-img -->
  												<div class="popular-news-contant">
  													<h5><%=link_to post.title, post_path(post)%></h5>
  													<p><%=post.created_at.strftime("%d %b %Y")%></p>
  												</div><!-- .popular-news-img -->
  											</li>
                      <%end%>
										</ul>

									</div><!-- .widget-content -->
								</div><!-- .widget -->

								<div class="widget">
									<h4 class="sidebar-widget-title">Tags Popolari</h4>
									<div class="widget-content">
										<div class="tag-cloud">
                      <%@tags.limit(20).order("RANDOM()").each do |tag|%>
                        <%= link_to fa_icon("tag") + ' ' +tag.name.upcase, tag_path(tag), class:"btn" %>
                      <%end%>
										</div><!-- .tag-cloud -->
									</div><!-- .widget-content -->
								</div><!-- .widget -->
							</div><!-- .sidebar -->
