<div id="single">

  <div class="container">

    <div class="post">
      <%unless @post.image_preview.blank?%>
        <%= image_tag @post.image_preview, class:"img-responsive"  %>
      <%end%>
      <div class="caption">
        <div class="header">
          <span class="post-tag">
            <%@post.tags.each do |tag| %> <%= '#'+tag.name %><%end%>
          </span>
          <h1><%=@post.title%></h1>
        </div>

        <%=raw @post.body%>

      </div>
    </div>


    <div class="comments">

      <!-- START DISQUS -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        
          var disqus_config = function () {
          this.page.shortname = 'smartgioiosa'
          this.page.identifier = '<%= request.fullpath%>';
          this.page.title = '<%= @post.title%>';
          this.page.url = '<%= request.url%>'
         };

          
          (function() { 
          var d = document, s = d.createElement('script'); s.src = '//smartgioiosa.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <!-- END DISQUS -->

    </div>


  </div>

</div>
