<section class="hgroup">
  <div class="container">
    <h1><%= @post.title%></h1>
    <h2><i class="fa-time"></i><%=@post.created_at.strftime("%d %b %Y")%> | <%@post.tags.each do |tag| %> <%= link_to fa_icon("tag") + " " + tag.name, tag_path(tag) %> | <%end%></h2>

    <ul class="breadcrumb pull-right">
      <li><a href="/">Home</a> </li>
      <li><a href="/posts">Blog</a></li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div id="leftcol" class="col-sm-12 col-md-12">
        <article class="post">
          <div class="post_content">
            <figure> 
                <%unless @post.image_preview.blank?%>
                  <%= image_tag @post.image_preview%>
                <%end%>
            </figure>
               <%=raw @post.body%>
            </div>
        </article>
        <div class="new_comment">
        
             <!-- START DISQUS -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">

          var disqus_config = function () {
          this.page.shortname = 'blogsmartgioiosa'
          this.page.identifier = '<%= request.fullpath%>';
          this.page.title = '<%= @post.title%>';
          this.page.url = '<%= request.url%>'
         };


          (function() {
          var d = document, s = d.createElement('script'); s.src = '//blogsmartgioiosa.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      <!-- END DISQUS -->
        
        </div>
     
      </div>
    </div>
  </div>
</section>
