<%= content_for :title, "PHOTO SMART CONTEST2017"%>
<%= content_for :description, "I CONCORSO FOTOGRAFICO #terramare: scorci eoliani e nebroidei" %>
<%= content_for :image, "/assets/contest/banner.jpg"%>


<!-- Start Page Header Section -->

	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h2>Photo Smart Contest</h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li>Photo Smart Contest</li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>


	<!-- End Page Header Section -->


	<!-- Start Recent Project Section -->


	<section class="bg-single-recent-project">
		<div class="container">
			<div class="row">
       
      <p class="text-center">
      L'associazione Smart Gioiosa ringrazia tutti coloro che hanno partecipato al PHOTO SMART CONTEST.
        
      </p>
      <h4 class="text-center">È stato un grande successo!!!</h4>
       <p class="text-center">
      
      <br>
      
     <!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
  I VINCITORI
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">VINCITORI PHOTO SMART CONTEST</h4>
      </div>
      <div class="modal-body">
      <ul>
    
       <li class="text-center">
          <h4>Categoria "1_borghi/paesi"  </h4>
          <a href="http://www.smartgioiosa.it/contest-fotografico/lo-splendido-borgo-di-piraino-al-tramonto-37"><img src="https://s3-eu-west-1.amazonaws.com/smartgioiosa/uploads/smartphoto/image/35/thumb_IMG_7729.jpg"></img></a>
          <p>By Leokadiia Moskalenko</p>
        <li>
        <br>
        <br>

      <li class="text-center">
          <h4>Categoria "2_tra cielo e terra"  </h4>
          <a href="http://www.smartgioiosa.it/contest-fotografico/fulmini-sui-cieli-di-patti-me-34"><img src="https://s3-eu-west-1.amazonaws.com/smartgioiosa/uploads/smartphoto/image/31/thumb_concorso_2015__MG_8410.1.jpg"></img></a>
          <p>By Calogero Barone</p>
        <li>
        <br>
        <br>
         <li class="text-center">
          <h4>Categoria "3_spazi da non perdere"  </h4>
          <a href="http://www.smartgioiosa.it/contest-fotografico/ruderi-del-borgo-medievale-di-gioiosa-guardia-26"><img src="https://s3-eu-west-1.amazonaws.com/smartgioiosa/uploads/smartphoto/image/23/thumb_100_6718__1_.jpg"></img></a>
          <p>By Davide Lena</p>
        <li>
        <br>
        <br>
         <li class="text-center">
          <h4>Categoria "4_la terra dei colori"  </h4>
          <p>Non è stato possibile assegnare il premio perchè nessuno dei partecipanti ha rispettato il Regolamento</p>
        <li>
              
      </ul>

      </div>
      <div class="modal-footer">
      
      <button type="button" class="btn btn-default" data-dismiss="modal">CHIUDI</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>  
        









      </p>
      <br>
      <hr>

      <br>
      
      <h4 class="text-center">
        ...E noi non ci fermiamo!
        Già nuove news ed eventi programmati per i prossimi mesi.
        </h4><br>
       
       <!--<p class="text-center">
  Si comunica ai partecipanti al Photo Contest che si sta procedendo ad un controllo relativo alle foto caricate e ai voti assegnati: in particolare, le foto assegnate dagli utenti a categorie non corrette verranno spostate in quella corrispondente al soggetto della foto e i voti non confermati (relativi a mail inesistenti o non confermate) verranno annullati!<p>
<h4 class="text-center"><b>Basta confermare le email per far riapparire il voto: <br><#%=link_to "Conferma il tuo indirizzo email", new_user_confirmation_path%></b></h4>
  <p class="text-center">

 Per qualsiasi chiarimento contattateci all'indirizzo email: <a href="mailto:info@smartgioioda.it">info@smartgioiosa.it</a><br> 
Associazione Smart Gioiosa
       </p> 
  </p>-->
        <hr>
        <br>
				<p class="text-center">
				<%=link_to 'Regolamento', contest_fotografico_regolamento_path, class:"btn btn-default"%>
				</p>
				<br>
				<div class="recent-project">
					<div id="filters" class="button-group ">
						<button class="button is-checked" data-filter="*">show all</button>
						<button class="button" data-filter=".borghipaesi-architettura">borghi/paesi</button>
						<button class="button" data-filter=".tra-cielo-e-terra-paesaggi-e-natura">tra cielo e terra</button>
						<button class="button" data-filter=".spazi-da-non-perdere-luoghi-abbandonati">spazi da non perdere</button>
						<button class="button" data-filter=".la-terra-dei-colori-arte-tradizioni-e-sapori">la terra dei colori</button>
					</div>

					<div class="portfolio-items">


            <%@photos.each do |p|%>
						<div class="item <%=p.category.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')%>" data-category="transition">
							<div class="item-inner">
								<div class="portfolio-img">
									<div class="overlay-project"></div><!-- .overlay-project -->
                  <%if p.image.present?%>
                  <%= image_tag p.image.url(:contest), alt:p.title%>
                  <%end%>
									<ul class="project-link-option">
										<li class="project-link"><a href="<%= smartphoto_path(p)%>"><i class="fa fa-link" aria-hidden="true"></i></a></li>
										<li class="project-search"><a href="<%= p.image.url%>" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.portfolio-img -->
                <div class="recent-project-content">
                  <div id="smartphoto_<%=p.id%>_likes">
                    <%= render partial: "likes", locals: {photo: p} %>
                  </div>
                  <p>By <span><a href="<%= smartphoto_path(p)%>"><%=p.name%> <%=p.surname%></a></span></p>
								</div><!-- .latest-port-content -->
							</div><!-- .item-inner -->
						</div><!-- .items -->

            <%end%>

					</div><!-- .isotope-items -->

				</div><!-- .recent-project -->
			</div><!-- .row -->
          
      <hr>  
      <!-- Sponsor -->
      <div class="row">
        <div class="col-md-6">
        <%= link_to image_tag("/assets/contest/sponsors/sponsor_2.jpg", class:"img-responsive img-thumbnail"), "http://www.nebrodiadventurepark.it/" %>
        </div>
        <div class="visible-xs visible-sm">
        <br>
        </div>
         <div class="col-md-6">
        <%= link_to (image_tag("/assets/contest/sponsors/sponsor_1.jpg", class:"img-responsive img-thumbnail")), "#" %>
        </div>
      </div>
        
 
		</div><!-- .container -->
    
	</section>

  <!-- End Recent Project Section -->



