<%= content_for :title, "PHOTO SMART CONTEST2017"%>
<%= content_for :description, "I CONCORSO FOTOGRAFICO #terramare: scorci eoliani e nebroidei" %>
<%= content_for :image, "/assets/contest/banner.jpg"%>


<!-- Start Page Header Section -->

	<section class="bg-page-header">
		<div class="page-header-overlay">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<div class="page-title">
							<h2>Photo Smart Contest</h2>
						</div><!-- .page-title -->
						<div class="page-header-content">
							<ol class="breadcrumb">
								<li><a href="/">Home</a></li>
								<li>Photo Smart Contest</li>
							</ol>
						</div><!-- .page-header-content -->
					</div><!-- .page-header -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .page-header-overlay -->
	</section>


	<!-- End Page Header Section -->


	<!-- Start Recent Project Section -->


	<section class="bg-single-recent-project">
		<div class="container">
			<div class="row">
				<p class="text-center">
				<%=link_to 'Regolamento', contest_fotografico_regolamento_path, class:"btn btn-default"%>
					<% if user_signed_in? %>
				<%=link_to 'Carica la tua foto', new_area_privata_user_smartphoto_path(current_user), class:"btn btn-default"%>
				<%else%>
				<%=link_to 'Carica la tua foto', new_user_session_path, class:"btn btn-default"%>

				<%end%>
				<p>
				<br>
				<div class="recent-project">
					<div id="filters" class="button-group ">
						<button class="button is-checked" data-filter="*">show all</button>
						<button class="button" data-filter=".borghipaesi-architettura">borghi/paesi</button>
						<button class="button" data-filter=".tra-cielo-e-terra-paesaggi-e-natura">tra cielo e terra</button>
						<button class="button" data-filter=".spazi-da-non-perdere-luoghi-abbandonati">spazi da non perdere</button>
						<button class="button" data-filter=".la-terra-dei-colori-arte-tradizioni-e-sapori">la terra dei colori</button>
					</div>

					<div class="portfolio-items">


            <%@photos.each do |p|%>
						<div class="item <%=p.category.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')%>" data-category="transition">
							<div class="item-inner">
								<div class="portfolio-img">
									<div class="overlay-project"></div><!-- .overlay-project -->
                  <%if p.image.present?%>
                  <%= image_tag p.image.url(:contest), alt:p.title%>
                  <%end%>
									<ul class="project-link-option">
										<li class="project-link"><a href="<%= smartphoto_path(p)%>"><i class="fa fa-link" aria-hidden="true"></i></a></li>
										<li class="project-search"><a href="<%= p.image.url%>" data-rel="lightcase:myCollection"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
									</ul>
								</div><!-- /.portfolio-img -->
                <div class="recent-project-content">
                  <h4>VOTI  <%= p.like_photos.count%></h4>
                  <div id="smartphoto_<%= p.id%>_likes">
                    <%= render partial: "likes", locals: {photo: p} %>
                  </div>
                  <p>By <span><a href="<%= smartphoto_path(p)%>"><%=p.name%> <%=p.surname%></a></span></p>
								</div><!-- .latest-port-content -->
							</div><!-- .item-inner -->
						</div><!-- .items -->

            <%end%>

					</div><!-- .isotope-items -->

				</div><!-- .recent-project -->
			</div><!-- .row -->
          
      <hr>  
      <!-- Sponsor -->
      <div class="row">
        <div class="col-md-6">
        <%= link_to image_tag("/assets/contest/sponsors/sponsor_2.jpg", class:"img-responsive img-thumbnail"), "http://www.nebrodiadventurepark.it/" %>
        </div>
        <div class="visible-xs visible-sm">
        <br>
        </div>
         <div class="col-md-6">
        <%= link_to (image_tag("/assets/contest/sponsors/sponsor_1.jpg", class:"img-responsive img-thumbnail")), "#" %>
        </div>
      </div>
        
 
		</div><!-- .container -->
    
	</section>

	<!-- End Recent Project Section -->
