<!DOCTYPEhtml>
<html>
  <head>
    <title> Blog Smart Gioiosa </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%if controller.controller_name=="home"%>
    <%= render partial: "shared/header_home"%>
  <%else%>
    <%= render partial: "shared/header"%>
  <%end%>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %>
         <a class="close" data-dismiss="alert">&#215;</a>
      </div>
    <% end %>
  </div>

    <%= yield%>


    <%= render partial: "shared/footer"%>

    <a id="scroll-to-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%if controller.controller_name=="contacts"%>
      <%= render 'contacts/scripts_map'%>
    <%end%>
  </body>
</html>
